@media (min-width: 52em) {
  .background-container {
    padding: 2rem 5rem;
  }

  .container {
    padding: 3rem 4rem;
  }

  .primary-heading {
    margin-bottom: 3rem;
  }

  .posts {
    gap: 3rem;
  }

  .like-save-comment {
    gap: 2.4rem;
  }

  .following-header {
    margin-bottom: 3rem;
  }

  /* ME SECTION */

  .profile-container {
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .profile {
    gap: 3rem;
  }

  .profile-info {
    gap: 1rem;
  }

  .profile-img {
    width: 6rem;
  }

  .profile-name {
    font-size: 1.7rem;
  }

  .following-followers {
    flex-direction: row;
    gap: 1.8rem;
  }

  .following,
  .followers {
    gap: 0.6rem;
  }

  .number {
    font-size: 1rem;
  }

  .following-text,
  .follower-text {
    font-size: 1rem;
  }

  .following-container,
  .favorites-container,
  .notifications-container {
    padding: 1rem 2rem;
  }

  .me-heading {
    font-size: 1.1rem;
  }

  .me-text {
    font-size: 1rem;
  }

  .me-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .creation-center-container {
    padding: 0px 0rem;
  }

  .pagination {
    justify-content: flex-end;
    margin-right: 15px;
  }

  header {
    padding: 15px 25px 10px 35px;
  }

  header .logo {
    font-size: 30px;
    margin-right: 55px;
  }

  header nav a {
    font-size: 22px;
    margin: 0 10px;
  }

  header .search-bar button {
    height: 100%;
    /* padding: 0; */
  }

  header .search-bar {
    margin-right: 25px;
  }

  header .search-bar input[type="text"] {
    padding: 15px;
  }

  header .search-bar button img {
    margin-top: 4px;
    width: 32px;
    height: 32px;
  }

  header .post-button {
    margin-right: 23px;
    padding: 10px;
  }

  header .post-button p {
    margin-top: 2px;
    margin-right: 2px;
    font-size: 1.4rem;
  }

  header .post-button img {
    margin-right: 7px;
    height: 28px;
    width: 28px;
  }

  .post-new-content-head {
    padding-bottom: 1.5rem;
  }

  .close-btn {
    margin-right: 35px;
    padding: 6px 13px;
    font-size: 20px;
  }

  .post-header {
    font-size: 16px;
  }

  .post-title {
    flex-direction: row;
  }

  .post-title h2 {
    width: 8rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .input-field {
    font-size: 1.1rem;
  }

  .post-enter-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .post-enter-content h2 {
    width: 8rem;
    font-size: 1.5rem;
  }

  .input-field-content {
    font-size: 1.1rem;
  }

  .content-icons img {
    height: 30px;
    margin: 10px;
  }

  .post-content-btn {
    font-size: 22px;
  }

  footer {
    padding: 25px;
    font-size: 20px;
  }

  footer .logo {
    margin: 0px 8px;
    font-size: 22px;
  }

  /* Creation Center */

  .bottom-container {
    grid-template-columns: 2fr 5fr;
  }

  .header-line {
    padding: 20px;
  }

  .profile-photo img {
    width: 120px;
    margin-right: 30px;
    margin-left: 35px;
  }

  .profile-detail h2 {
    padding: 10px 15px;
    font-size: 28px;
  }

  .profile-detail p {
    font-size: 18px;
  }

  .stats-section .header-line {
    padding-bottom: 15px;
  }

  .stat img {
    width: auto;
  }

  .posts-section .header-line {
    padding-bottom: 15px;
  }
}
